
/**** base html styles ****/
html {
    font-size: 16px;
}

body {
    color: white;
    background-color: black;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
}
/**** index.html styles ****/
.header-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.game-links li {
    margin: 2rem 1rem;
    font-size: 2rem;
}

/**** game page styles ****/
.game_container {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_score_container {
    margin-bottom: 2rem;
}

#finalScore {
    margin: 2rem;
}

